<div class="me-auto flex-fill d-flex ps-2 instruction-edit-card">
    <textarea
        class="flex-fill instruction-textarea"
        id="@TextAreaId"
        @bind-value="@Instruction.Text" 
        @bind-value:event="onchange">
    </textarea>
</div>
<div class="ps-2">
    <InstructionEditOptions
        StepNumber="@Instruction.StepNumber"
        ShiftInstructionUp="@ShiftInstructionUp"
        ShiftInstructionDown="@ShiftInstructionDown"
        InsertInstructionBelow="@InsertInstructionBelow"
        DeleteInstruction="@DeleteInstruction"/>
</div>