@page "/exercises/{ExerciseId:int}"

<PageTitle>Exercise Details</PageTitle>

@if (Exercise is null)
{
    <h1 class="loading-element">Exercise Details</h1>
    <div class="loading-element"><i class="fa-solid fa-spinner fa-spin"></i></div>
}
else
{
    <h1>@Exercise.Name - @Exercise.Category</h1>
    <h2 class="exercise-details-bodypart">@Exercise.BodyPart</h2>
    @if (Exercise.Instructions.Count() > 0)
    {
        <h2 class="exercise-details-instruction-header">Instructions</h2>
        <ol class="exercise-details-instruction-list">
            @foreach (var instruction in Exercise.Instructions)
            {
                <li class="exercise-details-instruction">@instruction.Text</li>
            }
        </ol>
    }

    <AuthorizeView>
        <button class="btn btn-primary me-1" @onclick="@(() => NavigateToExerciseEdit(Exercise.Id))">Edit</button>
    </AuthorizeView>
    
    <a class="btn btn-light" href="/exercises">Back</a>
}